@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.rotate {
  transform: rotate(180deg) scale(0.92);
}
.shrinkHeight {
  height: 40px;
}
.h34 {
  height: 34px;
}
.selecter {
  color: #0070d1;
}
.scale92 {
  transform: scale(0.92);
}
.scaleUnset {
  transform: scale(1) !important;
}
.openSubNav {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.hhh {
  font-family: "Shared-Nav-Icons";
}
