@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.rotate {
  transform: rotate(180deg) scale(0.92);
}
.shrinkHeight {
  height: 40px;
}
.h34 {
  height: 34px;
}
.selecter {
  color: #0070d1;
}
.scale92 {
  transform: scale(0.92);
}
.scale100 {
  transform: scale(1) !important;
}
.scaleUnset {
  transform: scale(1) !important;
}
.openSubNav {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.openSubNavsm {
  visibility: visible;
  opacity: 1;
  left: 20%;
  z-index: 2;
}
.hhh {
  font-family: "Shared-Nav-Icons";
}
.active {
  border: 3px solid #0070d1;
}
.visiab {
  display: block;
}

.opcityKf {
  animation: opacity 1.5s ease forwards;
}

.bottomToTop {
  animation: bottomToTop 1s ease forwards;
}
.delayAnimation {
  animation-delay: 0.2s;
}
.flexdis {
  display: flex;
}

.griddis {
  display: grid;
}

.clickable:hover {
  outline: 2px solid #fff;
}
.notClick {
  opacity: 0.7;
}
.notClick:hover {
  cursor: not-allowed;
}
.opacityable {
  opacity: 1;
  cursor: pointer;
}

.newClass {
  font-size: 1.125rem;
  list-style: 1.75rem;
  margin-top: 0.75rem;
  font-weight: 400;
}

.hiddenText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hiddenText2l {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn-prev,
.btn-next,
.swiper-button-next,
.swiper-button-prev {
  background-color: #0070cc !important;
  color: #fff !important;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  top: 20% !important;
}
.btn-prev,
.btn-next {
  top: 38% !important;
}
.swiper {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.swiperSm .swiper-wrapper {
  height: 10rem !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.25rem !important;
}
.swiper-button-prev {
  left: 34px !important;
}
.swiper-button-next {
  right: 34px !important;
}
.px3-6 {
  padding: 0 3.6rem !important;
}
.pb4 {
  padding-bottom: 4rem !important;
}
.p4 {
  padding: 4rem !important;
}
.swiper-pagination-bullet {
  border-radius: 0 !important;
  width: 17px !important;
  height: 2px !important;
  margin: 3px !important;
}

.blockEl {
  display: block;
}
.hiddenEl {
  display: none;
}
.fixedEl {
  position: fixed;
}

/* modal antd */
.ant-modal-content {
  transform: translateX(-55%);
  border-radius: 0 !important;
  padding: 0 !important;
  background-color: #4096ff !important;
}
.ant-modal-wrap {
  overflow: hidden !important;
}
.ant-input-affix-wrapper {
  border-radius: 0 !important;
  font-size: 1.25rem;
  padding: 1rem;
}
.ant-input-clear-icon svg {
  font-size: 1rem;
}
.ant-input-group-addon {
  height: 4rem;
}
.ant-input-search-button {
  color: #fff;
  background-color: #4096ff;
  height: 100% !important;
  border-radius: 0 !important;
}
.anticon.anticon-search {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.ant-modal-root .ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.7);
}

@keyframes opacity {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bottomToTop {
  0% {
    visibility: hidden;
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .hiddenText {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .px3-6 {
    padding: 0 1rem !important;
  }
  .swiperSm .swiper-wrapper {
    height: 100% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .swiper-wrapper {
    gap: 1.2rem;
  }
  .swiper {
    padding-right: 8rem !important;
  }
}
