@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.rotate {
  transform: rotate(180deg) scale(0.92);
}
.shrinkHeight {
  height: 40px;
}
.h34 {
  height: 34px;
}
.selecter {
  color: #0070d1;
}
.scale92 {
  transform: scale(0.92);
}
.scaleUnset {
  transform: scale(1) !important;
}
.openSubNav {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.hhh {
  font-family: "Shared-Nav-Icons";
}
.active {
  border: 3px solid #0070d1;
}
.visiab {
  display: block;
}

.opcityKf {
  animation: opacity 1.5s ease forwards;
}

.bottomToTop {
  animation: bottomToTop 1s ease forwards;
}
.delayAnimation {
  animation-delay: 0.2s;
}
.flexdis {
  display: flex;
}
.mbAndmt {
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.clickable:hover {
  outline: 2px solid #fff;
}
.notClick {
  opacity: 0.7;
}
.notClick:hover {
  cursor: not-allowed;
}

@keyframes opacity {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bottomToTop {
  0% {
    visibility: hidden;
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}
