@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.rotate {
  transform: rotate(180deg) scale(0.92);
}
.shrinkHeight {
  height: 40px;
}
.h34 {
  height: 34px;
}
.selecter {
  color: #0070d1;
}
.scale92 {
  transform: scale(0.92);
}
.scaleUnset {
  transform: scale(1) !important;
}
.openSubNav {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.hhh {
  font-family: "Shared-Nav-Icons";
}
.active {
  border: 3px solid #0070d1;
}
.visiab {
  display: block;
}

.opcityKf {
  animation: opacity 1.5s ease forwards;
}

.bottomToTop {
  animation: bottomToTop 1s ease forwards;
}
.delayAnimation {
  animation-delay: 0.2s;
}
.flexdis {
  display: flex;
}

.clickable:hover {
  outline: 2px solid #fff;
}
.notClick {
  opacity: 0.7;
}
.notClick:hover {
  cursor: not-allowed;
}

.newClass {
  font-size: 1.125rem;
  list-style: 1.75rem;
  margin-top: 0.75rem;
  font-weight: 400;
}

.hiddenText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hiddenText2l {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #0070cc !important;
  color: #fff !important;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  top: 20% !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.25rem !important;
}
.swiper-button-prev {
  left: 34px !important;
}
.swiper-button-next {
  right: 34px !important;
}
.px3-6 {
  padding: 0 3.6rem !important;
}
.pb4 {
  padding-bottom: 4rem !important;
}
.swiper-pagination-bullet {
  border-radius: 0 !important;
  width: 17px !important;
  height: 2px !important;
  margin: 3px !important;
}

@keyframes opacity {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bottomToTop {
  0% {
    visibility: hidden;
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .swiper-wrapper {
    gap: 1.2rem;
  }
  .swiper {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
}
